# Project: Super Store Sales

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#Wrangling">Data Wrangling</a></li>
<li><a href="#Exploratory">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Explanatory And Conclusions</a></li>
</ul>

<a id='intro'></a>
## Introduction

> I will analyze and explore Superstore Dataset which contains about 17000 observations and 26 variables From Jan 2010 to Dec 2013 for 3 departments: furniture, technolgy, and office suppliers. I used this dataset for practice. In this project, I will use Python in the wrangling and exploratory Processes and I will use Tableau for the explanatory process and visualizations. I will gather the dataset from the CSV file to the jupyter Notebook then I will do the wrangling process to handle the limitations and started to explore the data programmatically with Python. After cleaning the data to be ready for the explanatory process, I will export the cleaned data to CSV File then I will load it to Tableau.

In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
%matplotlib inline
from scipy import stats
import datetime

<a id='wrangling'></a>
## Data Wrangling

In [28]:
Superstore = pd.read_csv('SuperstoreSalesTraining.csv')
print(Superstore.shape)
Superstore.sample(5)

(16798, 26)

,Row,Order Priority,Order Date,Order,Discount,Unit Price,Order Quantity,Sales,Profit,Shipping Cost,...,Customer_ID,Customer Name,Region,State,Country / Region,City,Postal Code,Ship Date,Ship Mode,SubRegion
9289,9290,Not Specified,02/07/2012,38950,3%,9.0,41,357.93,191.57,4.0,...,2541,Amy Harris,Latam,Rio de Janeiro,Brazil,Rio de Janeiro,NaN,05/07/2012,Regular Air,NaN
4747,4748,Low,13/05/2011,87702,0%,31.0,15,465.00,169.00,17.0,...,418,Lester Cho,North America,California,United States of America,San Mateo,94403.0,17/05/2011,Regular Air,West ...
9827,9828,Low,21/08/2012,90365,95%,112.0,19,106.40,-749.96,69.0,...,734,Esther Gill Norman,North America,Massachusetts,United States of America,Weymouth,2190.0,28/08/2012,Regular Air,East ...
9653,9654,Not Specified,06/08/2012,36196,7%,5.0,14,65.10,35.90,4.0,...,699,Jenny Gold,North America,California,United States of America,Los Angeles,90041.0,08/08/2012,Regular Air,West ...
6952,6953,Critical,04/12/2011,27746,4%,500.0,6,2880.00,936.00,24.0,...,1617,Karl S Johnson,Latam,Distrito Federal,Mexico,Mexico City,NaN,04/12/2011,Regular Air,NaN

In [29]:
Superstore.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16798 entries, 0 to 16797
Data columns (total 26 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Row                  16798 non-null  int64
 1   Order Priority       16798 non-null  object
 2   Order Date           16798 non-null  object
 3   Order                16798 non-null  int64
 4   Discount             16798 non-null  object
 5   Unit Price           16798 non-null  float64
 6   Order Quantity       16798 non-null  int64
 7   Sales                16798 non-null  float64
 8   Profit               16798 non-null  float64
 9   Shipping Cost        16798 non-null  float64
 10  Product Base Margin  16798 non-null  object
 11  Department           16798 non-null  object
 12  Container            16798 non-null  object
 13  Category             16798 non-null  object
 14  Item                 16798 non-null  object
 15  Customer Segment     16798 non-null  object
 16  Customer_ID          16798 non-null  int64
 17  Customer Name        16798 non-null  object
 18  Region               16798 non-null  object
 19  State                16798 non-null  object
 20  Country / Region     16798 non-null  object
 21  City                 16798 non-null  object
 22  Postal Code          9813 non-null   float64
 23  Ship Date            16798 non-null  object
 24  Ship Mode            16798 non-null  object
 25  SubRegion            9482 non-null   object
dtypes: float64(5), int64(4), object(17)
memory usage: 3.3+ MB

In [30]:
# Checking the duplicated observations.

Superstore.duplicated().sum()

0

In [31]:
# Dropping the row-column because it is just an index for the row number.

Superstore= Superstore.drop('Row', axis=1)

In [32]:
Superstore['Order'] = Superstore['Order'].astype('str')

In [33]:
# Showing the unseen columns.

hidden_Superstore = Superstore[['Department','Container','Category','Item','Customer Segment','Customer_ID']]
hidden_Superstore.sample(5)

,Department,Container,Category,Item,Customer Segment,Customer_ID
14592,Office Supplies,Small Box,Storage & Organization,Eldonï¿½ Gobal File Keepers,Consumer,2331
12409,Office Supplies,Large Box,Storage & Organization,"Tennsco Snap-Together Open Shelving Units, Sta...",Consumer,3098
3382,Office Supplies,Medium Box,Appliances,Bionaire Personal Warm Mist Humidifier/Vaporizer,Small Business,1415
7663,Office Supplies,Small Box,Paper,Xerox Blank Computer Paper,Consumer,1742
146,Technology,Small Box,Computer Peripherals,Targus USB Numeric Keypad,Consumer,2068

In [34]:
Superstore.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16798 entries, 0 to 16797
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Order Priority       16798 non-null  object
 1   Order Date           16798 non-null  object
 2   Order                16798 non-null  object
 3   Discount             16798 non-null  object
 4   Unit Price           16798 non-null  float64
 5   Order Quantity       16798 non-null  int64
 6   Sales                16798 non-null  float64
 7   Profit               16798 non-null  float64
 8   Shipping Cost        16798 non-null  float64
 9   Product Base Margin  16798 non-null  object
 10  Department           16798 non-null  object
 11  Container            16798 non-null  object
 12  Category             16798 non-null  object
 13  Item                 16798 non-null  object
 14  Customer Segment     16798 non-null  object
 15  Customer_ID          16798 non-null  int64
 16  Customer Name        16798 non-null  object
 17  Region               16798 non-null  object
 18  State                16798 non-null  object
 19  Country / Region     16798 non-null  object
 20  City                 16798 non-null  object
 21  Postal Code          9813 non-null   float64
 22  Ship Date            16798 non-null  object
 23  Ship Mode            16798 non-null  object
 24  SubRegion            9482 non-null   object
dtypes: float64(5), int64(2), object(18)
memory usage: 3.2+ MB

In [35]:
# Converting the date columns to datetype.

Superstore['Order Date'] = pd.to_datetime(Superstore['Order Date'], dayfirst=True).astype('datetime64[ns]')
Superstore['Ship Date'] = pd.to_datetime(Superstore['Ship Date'], dayfirst=True).astype('datetime64[ns]')

In [36]:
# Converting the other columns to the correct datatype.

Superstore['Postal Code'] = Superstore['Postal Code'].astype('str')
Superstore['Order Priority'] = Superstore['Order Priority'].astype('category')
Superstore['Order'] = Superstore['Order'].astype('str')
Superstore['Department'] = Superstore['Department'].astype('category')
Superstore['Container'] = Superstore['Container'].astype('category')
Superstore['Category'] = Superstore['Category'].astype('category')
Superstore['Customer Segment'] = Superstore['Customer Segment'].astype('category')
Superstore['Customer_ID'] = Superstore['Customer_ID'].astype('str')
Superstore['Region'] = Superstore['Region'].astype('category')
Superstore['Ship Mode'] = Superstore['Ship Mode'].astype('category')
Superstore['SubRegion'] = Superstore['SubRegion'].astype('category')

In [37]:
Superstore.sample(5)

,Order Priority,Order Date,Order,Discount,Unit Price,Order Quantity,Sales,Profit,Shipping Cost,Product Base Margin,...,Customer_ID,Customer Name,Region,State,Country / Region,City,Postal Code,Ship Date,Ship Mode,SubRegion
15260,High,2013-09-15,32640,4%,7.0,38,255.36,82.78,5.0,37.00%,...,2659,Sherri Baker,EMEA,Tuscany,Italy,Florence,nan,2013-09-17,Regular Air,NaN
3395,Critical,2010-12-26,89176,0%,13.0,19,247.00,86.39,5.0,37.00%,...,2197,Karen O'Donnell,North America,New York,United States of America,Levittown,11756.0,2010-12-27,Regular Air,East ...
2648,Low,2010-10-04,87260,10%,2.0,3,5.40,-2.30,5.0,55.00%,...,975,Francis Evans,North America,Massachusetts,United States of America,Boston,2108.0,2010-10-09,Regular Air,East ...
350,Not Specified,2010-01-31,52416,5%,8.0,6,45.60,8.88,6.0,36.00%,...,909,Alexandra Lopez,Latam,Minas Gerais,Brazil,Belo Horizonte,nan,2010-02-02,Regular Air,NaN
16420,Critical,2013-12-03,91528,2%,13.0,25,318.50,185.50,3.0,60.00%,...,324,Lester Stuart,North America,Minnesota,United States of America,Roseville,55113.0,2013-12-05,Regular Air,Central ...

<a id='Exploratory'></a>
## Exploratory Data Analysis

In [38]:
Superstore['Order Priority'].value_counts(ascending = False)

High             3536
Low              3440
Not Specified    3344
Medium           3262
Critical         3216
Name: Order Priority, dtype: int64

In [39]:
Superstore['Department'].value_counts(ascending = False)

Office Supplies    9220
Technology         4130
Furniture          3448
Name: Department, dtype: int64

In [40]:
Superstore['Container'].value_counts(ascending = False)

Small Box     8694
Wrap Bag      2336
Small Pack    1912
Jumbo Drum    1248
Jumbo Box     1064
Large Box      812
Medium Box     732
Name: Container, dtype: int64

In [41]:
Superstore['Category'].value_counts(ascending = False)

Paper                             2450
Binders and Binder Accessories    1830
Telephones and Communication      1766
Office Furnishings                1576
Computer Peripherals              1516
Pens & Art Supplies               1266
Storage & Organization            1092
Appliances                         868
Chairs & Chairmats                 772
Tables                             722
Office Machines                    674
Labels                             576
Envelopes                          492
Bookcases                          378
Rubber Bands                       358
Scissors, Rulers and Trimmers      288
Copiers and Fax                    174
Name: Category, dtype: int64

In [42]:
Superstore['Customer Segment'].value_counts(ascending = False)

Corporate         6152
Home Office       4064
Consumer          3298
Small Business    3284
Name: Customer Segment, dtype: int64

In [43]:
Superstore['Region'].value_counts(ascending = False)

North America    9482
AsiaPac          3802
EMEA             1894
Latam            1620
Name: Region, dtype: int64

In [44]:
Superstore['State'].value_counts(ascending = False).head(10)

California                  1021
Texas                        646
Illinois                     584
New York                     574
Florida                      522
Guangdong Sheng              417
Ohio                         396
Province de Buenos Aires     341
Michigan                     327
Washington                   327
Name: State, dtype: int64

In [45]:
Superstore['Country / Region'].value_counts(ascending = False).head(10)

United States of America    9426
China                       1257
India                        746
Brazil                       672
Japan                        507
Mexico                       388
Argentina                    341
Republic of Korea            325
Egypt                        265
France                       242
Name: Country / Region, dtype: int64

In [46]:
Superstore['Ship Mode'].value_counts(ascending = False)

Regular Air       12540
Delivery Truck     2292
Express Air        1966
Name: Ship Mode, dtype: int64

In [47]:
Superstore['SubRegion'].value_counts(ascending = False)

Central                                                                                                                                                                                                                                                            2899
East                                                                                                                                                                                                                                                               2289
West                                                                                                                                                                                                                                                               2284
South                                                                                                                                                                                                                                                              1954
Canada                                                                                                                                                                                                                                                               56
Name: SubRegion, dtype: int64

In [48]:
# Converting the Discount & Product Base Margin to floats instead of objects.

Superstore['Discount'] = Superstore['Discount'].str.rstrip('%').astype('float') / 100.0
Superstore['Product Base Margin'] = Superstore['Product Base Margin'].str.rstrip('%').astype('float') / 100.0

In [ ]:
print(Superstore.shape)
Superstore.sample(5)

In [ ]:
hidden_Superstore = Superstore[['Department','Container','Category','Item','Customer Segment','Customer_ID']]
hidden_Superstore.sample(5)

In [ ]:
Superstore.info()

In [ ]:
# Storing the cleaed dataset

Superstore.to_csv('Super Store.csv', index=False)

<a id='conclusions'></a>
## Explanatory And Conclusions

### Almost, The datasets were redy and I did small cleaning operations. After cleaning the data i started to pose questions and analyze data Throght Tableau to find answers.

##### Q1: What is the most Country in total Profit?
- USA is the highest country made the largest total profit for the super store with about 4.1 million dollars then China with about 1.8 million dollars.

##### Q2: USA is the largest Country in Total orders in different Cities, Is USA Is the largest Country in Avg profit Also?
- No, USA is not the largest, USA has Avg profit 437 dollars per order for 9426 Orders, The largest in Avg is Moroco with 2383 dollars per order for only 22 orders then 2284 dollars per order for only 45 orders then norway with 2162 dollars per order for only 11 orders. From the map the middle east and the eauropean countries  have high avg profit values, Also China has 1429 Avg profit per order for 1257 orders and that is a high order Count so I think the superstore should make a true interest for other countries like the interest for USA! . But there is an important queation for the shipping cost for these countries!

##### Q3: What is the Avg shipping cost for countries and is there a gap difference in the cost from USA?
- The Avg shipping cost for USA 12.81 dollars per order, For Moroco 12.86 dollars!, For iraq 15.8, For Norway 24.09, For china 13.28, For ukraine 11.25 dollars which has Avg profit 2027 dollars per orders for only 24 orders, For algeria only 8.17 dollars which has Avg profit 1379 dollars per order for only 18 orders. so, I think the superstoere should to target other markets beside the united states!.

##### Q4: What are the cities with the highest profit?
- The first one is Buenos Aires from Argentia with total profit 560,000 dollars then Guangzhou From China with 535,000 dollars, Cairo comes in the 5th place with 366,000 dollars!. the first city comes from USA is Los Anglos in the 11th place with total profit 286,000 dollars. And that is another evidence that the superstore should expand to another marketplaces.

##### Q5: Which item has the largest in the profit and in which department?
- The item of global troy of excutive leather low back tilter in the furniture department has the most totaal total profit of 277,000 dollars and its orders count are 34 orders with Avg product base margin is 0.6. The department of furniture has the biggest share in the highest items in profit!

##### Q6: What is the largest category and department in profit?
- The telephones and communications in the technology department has the largest profit with 2,436,000 dollars and its order counts are 1766 orders with avg product base margin 0.58.

##### Q7: What are the order count perctiles for departments?
- The furniture has 39.61%, the technolgy has 38.68%, and the office suppliers has 21.71%.

##### Q8: What is the total profit for each departmesnt?
- The furniture has 5,870,000 dollars, the technolgy has 5,731,000 dollars, and the office suppliers has 3,217,000.

##### Q9: What is the Avg product margin for each department?
- The furniture has 0.5837, the technolgy has 0.5515, and the office suppliers has 0.4468.

##### 10: What is the Avg Unit Price for each department?
- The technolgy is the largest with 181.4 dollars then the furniture with 121.5 dollars then the office suppliers with 36.1 doolars per order.

##### 11: What is the category is the largest in the Avg Unit Price?
- It is copiers and fax from the technolgy department with 746 dollars then technolgy&oofice machines also from the technolgy department with 565.7 dollars per order.

##### 12: When did the largest profit happen and in each category? In that perid, Is this category has the largest number in order count?
- The largest profit happened in Nov 2012 with total profit 164,000 dollars and only 20 orders in tables category but in this month paper has the largest number in order counts with 54 orders and 6874 dollars!.The largest order count happened in Oct 2013 with 95 orders and only total profit 12,882 dollars! but in this month telephones and communication has the largest profits 82,299 and only 38 orders!. In general paper has the largest order counts over years, the largest profit varies between furniture and technology categories over years, and almost the largest profit happens in Nov from every year!. Wow, This led me to check is there are discounts in december?

##### 13: How the discounts were over year and there were special discounts in november?
- Another surprise for me, Tables has largest discounts over years with a gab from other categories!. But i didn't found any special discounts in november!. (See Q15)

##### 14: For Departments, What was the time anlaysis?
- Like the output from Categories, Office suppliers has the largest number in order counts, the most happened in Oct 2013 with 299 orders. The furniture and technology have the largest number in profit and the largest profit happened for furniture in Nov 2012 With total 365,000 dollars.

##### 15: What are the average discount profit and order counts for different discounts?
- Another insight supporst the insight from Q13, Only tables and furnishings have discounts over than 10% . All other categories thier discounts less than 10%.

##### 16: What are the largest category in Avg Shipping cost per orders?
- As expexted, Furniture categories are the largest With Avg 30.89 dollars for order, Tables is the highest in Avg Shipping cost with 57,36 dollars. Technology and office supplies almost the same in avg Shipping cost

##### 17: What are customer segment percentiles?
- Corporate with 36.8% of order counts, Home Office with 24.1%, Small business with 19.74%, then Consumer with 19.36%.

##### Q18: What is the total profit from each custome segment?
- Superstore got from Corporate with 5,453,000 dollars, From Home Office customers 3,572,000 dollars, From Small business 2,925 dollars, From Consumer 2,869,000 dollars. 
##### 19: When did the largest profit happen from customers and from which customer? In that perid, Is this customer has the largest number in order count?
- The Largest profit came from Corporate in Nov 2012 with total profit 274,000 dollars more little than small business in the same month which has 267,000 dollars, And Yes Corporate has the largest order counts in the same month with 197 orders. In general corporate has the largest profit and order counts over years.

##### 20: Who is the customer with the largest profit ?
- It is Joan Oakley Shaafer corporate with total profit 107,000 dollars and it has 26 orders. 

##### 21: What are the average delivery periods for different order priorities ?
- Low Priority takes more than 4 days to deliver the orders. Other priorities took form 1 to 2 days.

##### 22: What are the percentiles for different order priorities ?
- Almost the same range from 19 to 21% for the 4 priorities.

##### 23: What are the profit percentiles for different order priorities ?
- It ranges from 17 to 23.5% for the 4 priorities.

##### 24: What are the containers percentiles ?
- Small Box is the largest with more than 50% in compared to the other containers.

##### 25: What are the value and the average unite price for goods inside containers ?
- large box contain the most valuable goods with average unite price 347.5 dollars.

##### 26: What are the ship mode percentiles ?
- Regular air is the largest with almost 75%.

##### 27: What are the  avg shipping cost for ship modes ?
- Delivery Truck is the largest with 45.39 Dollars for Avg cost.

##### 28: What do the  ship mode and department  occur most?
- It is small box in regular air happened almost 750 times.

##### 29: What are the correlations between order quantity, shipping cost and profit?
- They are postive correlations.

##### 30: What Is the most popular Unit Price range?
- It is from 0 to 1000 dollars.

##### 30: What Is the most popular Product base margin range?
- It is from 0.35 to 0.65 and the most profit occurres on products base margin from 0.55 to 0.6.

##### 31: What Is the relation between product margins and Avg discount?
- I finish the report with the last insightful finding, the product with high margins above 0.6 release high discounts to encourage buying especially in the furniture department.